{% extends "base.html" %}
{% block extrahead %}
<style type="text/css">
    .selected{
        background: url(/files/images/row2.png) no-repeat right;
    }	
</style>
<script type="text/javascript" src="/files/js/site.js"></script>
{% endblock %}

{% block leftmenu %}
{% include "left_add.html" %}
{% endblock %}

{% block data %}
<div>
    <div style="margin-left: 15px; padding-top: 15px; width: 350px;">
        <img class="aux" src="/files/images/profesion.png" alt="Agregar profesion">
        <span class="title">Editar Profesi&oacute;n</span>
        <a id="view_pro" href="#" style="font-size:11px; color: #069;">(Ver existentes)</a>
        <form action="." method="POST">{% csrf_token %}
            <label for="id_nombre">{{form.nombre.label}}: </label>{{form.nombre}}
            <input type="submit" value="Guardar" /><br>
		{{form.nombre.errors}}		
        </form>
        <br><br>
        <img class="aux" src="/files/images/tipo_material.png" alt="Tipo material">
        <span class="title">Agregar Tipo de Material</span>
        <a id="view_tipos" href="#" style="font-size:11px; color: #069;">(Ver existentes)</a>
        <form action="/add/otros/tipo/" method="POST">{% csrf_token %}
            <label for="id_nombre">{{form_tipo.nombre.label}}: </label>{{form_tipo.nombre}}
            <input type="submit" value="Guardar" /><br>
		{{form_tipo.nombre.errors}}
        </form>
        <br><br>
        <img class="aux" src="/files/images/tematica.png" alt="Tematica">
        <span class="title">Agregar Tem&aacute;tica</span>
        <a id="view_temas" href="#" style="font-size:11px; color: #069;">(Ver existentes)</a>
        <form action="/add/otros/tematica/" method="POST">{% csrf_token %}
            <label for="id_nombre">{{form_tematica.nombre.label}}: </label>{{form_tematica.nombre}}
            <input type="submit" value="Guardar" /><br>
		{{form_tematica.nombre.errors}}
        </form>
    </div>
    <div id="resultado" style="padding-top: 15px; position: absolute; width: 290px; left: 590px; top: 200px;">
    </div>
    <br><br>
</div>
{% endblock %}
