{% extends "base.html" %}
{% load pagination_tags %}
{% block extrahead %}
<style type="text/css">
    .selected{
        background: url(/files/images/row2.png) no-repeat right;
    }
</style>
<script type="text/javascript" src="/files/js/site.js"></script>
{% endblock %}

{% block leftmenu %}
{% include "left_add.html" %}
{% endblock %}

{% block data %}
<div style="margin-left: 20px;">
    <img style="float: right; margin-right: 40px;" src="/files/images/persona.png" alt="Solicitantes">
    <span style="color: #069;">Solicitantes</span><br><br>
    <form style="margin:0;" action="." method="POST">{% csrf_token %}
        <table>
            {{form.as_table}}
            <tr><td><input type="submit" value="Guardar" /></td></tr>
        </table>
    </form>
    <br><br>
    <div id="registrados">
        <table class="mostrar">
            <caption>Solicitantes</caption>
            <thead>
                <tr>
                    <th>Nombre y Apellido</th>
                    <th>Email</th>
                    <th>Tel&eacute;fono</th>
                    <th>ORG</th>
                    <th>Profesion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% autopaginate solicitantes 20 %}
                {% for solicitante in solicitantes %}
                <tr>
                    <td>{{solicitante.nombre}} {{solicitante.apellido}}</td>
                    <td>{{solicitante.email}}</td>
                    <td>{{solicitante.telefono}}</td>
                    <td>{{solicitante.organizacion}}</td>
                    <td>
                        {% for pro in solicitante.profesion.all %}
                        {{pro.nombre}}{% if forloop.last %}{% else %},<br>{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="/edit/persona/{{solicitante.id}}/" style="color: #069;"><img src="/files/images/editar2.png">Editar</a> | <a href="javascript:Borrar_persona('{{solicitante.id}}');" style="color: #069;"><img src="/files/images/borrar.png" alt="borrar">Borrar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="font-size: 12px;">{% paginate %}</div>
    </div>
</div>
{% endblock %}